<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>About You - FP650</title>
    <meta name="description" content="Page with info about your browser" />
    <meta property="og:title" content="About You - FP650" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://firepup650.com/favicon.ico" />
    <meta property="og:image:height" content="512" />
    <meta property="og:image:width" content="512" />
    <meta property="og:url" content="https://firepup650.com/about-you" />
    <meta property="og:description" content="Page with info about your browser" />
    <meta property="og:site_name" content="Firepup650's Site" />
    <meta property="og:locale" content="en_US">
    <meta property="og:logo" content="https://firepup650.com/favicon.ico" />
    <link href="/styles/style.css" rel="stylesheet" type="text/css" />
    <!-- <script async src="https://api.countapi.xyz/hit/firepup650.repl.co/visits"></script> -->
    <!-- <script async src="https://api.countapi.xyz/hit/firepup650.repl.co/abtbrow"></script> -->
  </head>
  <body>
    <h5 hidden id='Maintenance' class="center"></h5>
    <span class=center>
      <h1 class="rainbow block">About Your Browser</h1>
      <p class="rainbow block">User Agent: <%= userAgent %></p>
      <p class="rainbow block">Browser Name: <%= browserName %></p>
      <p class="rainbow block">Browser Version: <%= browserVersion %></p>
      <p class="rainbow block">Platform Name: <%= platformName %></p>
      <p class="rainbow block">Platform Version: <%= platformVersion %></p>
      <p class="rainbow block">Device Model: <%= deviceModel %></p>
      <p class="rainbow block">Device Type: <%= deviceType %></p>
      <p class="rainbow block">Device Vendor: <%= deviceVendor %></p>
      <p class="rainbow block">Cookies Enabled: <%= cookiesEnabled %></p>
    </span>
    <script src="/scripts/script.js"></script>
    <noscript><br/><br/><footer class="rainbow">Hey there buddy, just wanted to let you know that I completely understand not enabling javascript. On the other hand, it means certain features of my site (e.g. the footer, the password generator, the chees and DVD logo, etc.) just won't work for you.</footer></noscript>
  </body>
</html>
