<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>FP650 - About You</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link href="/styles/bounce.css" rel="stylesheet" type="text/css" />
    <!-- <script async src="https://api.countapi.xyz/hit/firepup650.repl.co/visits"></script> -->
    <!-- <script async src="https://api.countapi.xyz/hit/firepup650.repl.co/abtbrow"></script> -->
  </head>
  <body>
    <h5 hidden id='Maintenance' class="center"></h5>
    <span class=center>
      <h1 class="rainbow block">About Your Browser</h1>
      <p class="rainbow block">User Agent: <%= userAgent %></p>
      <p class="rainbow block">Browser Name: <%= browserName %></p>
      <p class="rainbow block">Browser Version: <%= browserVersion %></p>
      <p class="rainbow block">Platform Name: <%= platformName %></p>
      <p class="rainbow block">Platform Version: <%= platformVersion %></p>
      <p class="rainbow block">Device Model: <%= deviceModel %></p>
      <p class="rainbow block">Device Type: <%= deviceType %></p>
      <p class="rainbow block">Device Vendor: <%= deviceVendor %></p>
      <p class="rainbow block">Cookies Enabled: <%= cookiesEnabled %></p>
    </span>
    <script src="/script.js"></script>
  </body>
</html>
