<!DOCTYPE html>
<html>
  <head>
    <title>FP650 - YCS - History</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link href="/styles/style.css" rel="stylesheet" type="text/css" />
    <!-- <script async src="https://api.countapi.xyz/hit/firepup650.repl.co/visits"></script> -->
    <!-- <script async src="https://api.countapi.xyz/hit/firepup650.repl.co/YCSP"></script> -->
  </head>
  <body>
    <h5 hidden id='Maintenance' class="center"></h5>
    <span class=center>
      <h3 class=rainbow>Youngchief's Spotify History:</h3>
      <% if (typeof err == 'undefined') { %>
        <p class=rainbow>Status: OK</p>
        <p class=rainbow>History (isrcs): <%= isrc %></p>
        <p class=rainbow>History (Song Names): <%= name %></p>
      <% } else { %>
        <p class=rainbow>Status: ERROR</p>
        <p class=rainbow>Error Origin: <%= end %></p>
        <p class=rainbow>Error: <%= err %></p>
      <% } %>
      <p class=rainbow>Raw data: <%= raw %></p>
    </span>
    <script src="/scripts/script.js"></script>
  </body>
</html>
